.login{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 1px solid #b92B27;
    max-width: 30vw;
    margin: auto;
    height: 25pc;   
    border-radius: 10px;
    color: #b92B27;
    padding: 10PX;
    margin-top: 20px;
}

input{
   margin: auto;
    width: 25vw;
    padding: 3px;
    border: none;
    border: 1px solid #1c252b;
    border-radius: 10px;
}


.login-cl{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.login-btn{
    width: 5vw;
    padding: 3px;
    border-radius: 10px;
    border: none;
    margin: auto;
    color: #FFFFFF;
    background-color: #b92B27;
    margin-bottom: 1px;
    margin-top: 5px;
    
}

.login-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-heading{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #b92B27;
}

label{
    margin-top: 10px;
    color: #b92B27; 
    text-align: start;
}

.forgot-pass{
    text-align: end;
    font-weight: 300;
    font-size: 14px;
}