.sidebar{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border-right: #9e6363 1px solid;
    
}

.sidebar a{
    padding: 20px;
    text-decoration: none;
    color: #636466;
    font-weight: bolder;
   
  
}

.btn-sidebar{
    width: 10pc;
    height: 3pc;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bolder;
    background-color: #B92B27;
}